<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />

		<title>
			uShare
		</title>

		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/base.css" />

		<script type="text/javascript" src="{{ STATIC_URL }}javascripts/libs/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}javascripts/libs/jquery.role.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}javascripts/libs/jquery.form.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}javascripts/libs/ZeroClipboard.min.js"></script>
		<script type="text/javascript">
			ZeroClipboard.setMoviePath('{{ STATIC_URL }}flash/ZeroClipboard.swf');
		</script>
		

		{% block extra_head %}
			<script type="text/javascript" src="{{ STATIC_URL }}javascripts/base.js"></script>
		{% endblock %}
	</head>

	<body>
		<div class="wrapper">

			{% block header %}
				<div class="header">
					<ul class="nav nav-pills pull-right">
						{% comment %}
						<li class="active">
							<a href="#">App store</a>
						</li>
						{% endcomment %}
					</ul>
					<a href="/">
						<h3 class="muted">uShare</h3>
					</a>
				</div>
				<hr />
			{% endblock %}

			{% block content %}
				<div class="content"></div>
			{% endblock %}

			{% block footer %}
				<hr />
				<div class="footer">
					<p>© <a class="credits" href="http://whitescape.com/">Whitescape</a> 2012 | <a class="credits" href="mailto:ushare@whitescape.com">ushare@whitescape.com</a> | <a href="https://github.com/uploadcare/">Uploadcare is open-source</a></p>
				</div>
			{% endblock %}

		</div>
	</body>
</html>
