<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />

		<title>
			{% block title %}
				uShare
			{% endblock %}
		</title>

		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/base.css" />

		{% block og %}
			<meta property="og:site_name" content="uShare" />
		{% endblock %}

		<script type="text/javascript" src="{{ STATIC_URL }}javascripts/libs/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}javascripts/libs/jquery-ui-1.9.2.custom.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}javascripts/libs/jquery.role.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}javascripts/libs/jquery.form.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}javascripts/libs/ZeroClipboard.min.js"></script>
		<script type="text/javascript">
			ZeroClipboard.setMoviePath('{{ STATIC_URL }}flash/ZeroClipboard.swf');
		</script>
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-36974219-1']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>

		{% block extra_head %}
			<script type="text/javascript" src="{{ STATIC_URL }}javascripts/base.js"></script>
		{% endblock %}
	</head>

	<body>
		<div class="wrapper">

			{% block header %}
				<div class="header">
					<a href="/">
						<h3 class="muted">uShare</h3>
					</a>
				</div>
				<hr />
			{% endblock %}

			{% block content %}
				<div class="content"></div>
			{% endblock %}

			{% block footer %}
				<hr />
				<div class="footer">
					<p>
						© Brought to you by <a class="credits" href="https://uploadcare.com/">Uploadcare</a>
					</p>
				</div>
			{% endblock %}

		</div>
	</body>
</html>
