{% extends 'base/base.html' %}



{% block og %}
	{{ block.super }}
	<meta property="og:title" content="uShare" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{ request.build_absolute_uri }}" />
	<meta property="og:description" content="Simple file sharing service" />
{% endblock %}


{% block extra_head %}
	{{ form.media }}
	<script type="text/javascript" src="{{ STATIC_URL }}javascripts/upload.js"></script>
	{{ block.super }}
{% endblock %}


{% block content %}
	<div class="content">

		<form action="{% url files:upload %}" method="post" role="upload-form" class="upload-form">
			{% csrf_token %}
			{{ form.file_obj }}
		</form>

		<div role="progress-bar" class="progress-bar hidden">
			<div class="progress progress-striped active">
				<div class="bar" style="width: 0;"></div>
			</div>
			<input type="button" role="upload-cancel-button" class="btn" value="Cancel" />
		</div>

		<div class="upload-success hidden" role="upload-success">
			<div class="input-append">
				<input type="text" class="file-url" role="file-url" readonly="readonly" />
				<a class="btn file-url-link" role="file-url-link" href="#" title="View file">
					<span class="icon-share-alt"></span>
				</a>
			</div>
			<input type="button" role="clipboard-copy-button" class="btn clipboard-btn" value="Copy link" />
			<a href="." class="upload-more" role="upload-reset">Upload more?</a>
		</div>

		<div class="upload-fail hidden" role="upload-fail">
			<span role="error-message" class="text-error"></span><br />
			<a href="." role="upload-reset">Try again!</a>
		</div>

	</div>

	<hr />

	<div class="row-fluid annotation">
		<div class="span6">
			<h4>What's this?</h4>
			<p>
				<strong>uShare</strong>
				is a simple sharing service based on<br />
				<a href="https://uploadcare.com/">Uploadcare</a>
				(these good comrades will take care of all of your precious files),
				<a href="https://www.djangoproject.com/">Django</a>
				and <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.
			</p>

			<h4>With no restrictions?</h4>
			<p>
				<strong>Absolutely</strong>
				with!<br />
				The uploaded file should meet the following requirements:
				<ol>
					<li>not larger than {{ MAX_FILE_SIZE|filesizeformat }};</li>

					{% if ALLOWED_EXTENSIONS %}
						<li>
							it's extension should be one of: 
							{% for ext in ALLOWED_EXTENSIONS %}
								<i>.{{ ext }}{% if not forloop.last %},{% endif %}</i>
							{% endfor %}
						</li>
					{% endif %}

					{% if FORBIDDEN_EXTENSIONS %}
						<li>
							it's extension should <strong>NOT</strong> be one of:
							{% for ext in FORBIDDEN_EXTENSIONS %}
								<i>.{{ ext }}{% if not forloop.last %},{% endif %}</i>
							{% endfor %}
						</li>
					{% endif %}
				</ol>
			</p>
		</div>

		<div class="span6">
			<h4>May I have one?</h4>
			<p>
				<strong>Sure</strong>,
				just get a free <a href="http://www.heroku.com/">heroku</a> account and type:
				<pre>
					<code>git clone git@github.com:uploadcare/ushare.git</code>
					<code>git remote set-url origin <i>my_heroku_repo_url</i></code>
					<code>git push origin master</code>
				</pre>
				— and that's it!
			</p>
		</div>
	</div>
{% endblock %}
