{% extends 'base/base.html' %}



{% block extra_head %}
	{{ block.super }}
	{{ form.media }}
{% endblock %}


{% block content %}
	<div id="upload-form-wrapper">
		<form action="{% url files:upload %}" method="post" id="id_upload-form">
			{% csrf_token %}
			<div class="field-wrapper">
				<ul class="field-error-list">
					<li class="empty-elem"></li>
				</ul>
				{{ form.file_obj }}
			</div>
		</form>
		<div class="upload-success hidden">
			<input type="text" id="id_file-url" readonly="readonly" />
			<input type="button" id="id_clipboard-copy" value="Copy to clipboard" />
		</div>
		<a href="." class="upload-more upload-success hidden">Upload more?</a>
	</div>

	<p>
		uShare is a simple app to share files.
		You can even get your own one, just by typing:<br />
		<code>
			git clone git@heroku.com:ushare.git<br />
			git remote set-url origin <i>my_heroku_repo_address</i><br />
			git push origin master<br />
		</code>
		— and that's it!
	</p>
		{% if ALLOWED_EXTENSIONS %}
			Allowed file extensions are: <i>{{ ALLOWED_EXTENSIONS|join:", " }}</i><br />
		{% endif %}
		{% if FORBIDDEN_EXTENSIONS %}
			Forbidden file extensions are: <i>{{ FORBIDDEN_EXTENSIONS|join:", " }}</i><br />
		{% endif %}
		Max file size: <i>{{ MAX_FILE_SIZE }}</i> bytes.
	<p>

	</p>
{% endblock %}
