{% extends 'base/base.html' %}



{% block title %}
	{{ file.filename }}
{% endblock %}


{% block og %}
	{{ block.super }}
	<meta property="og:title" content="{{ file.filename }}" />
	<meta property="og:url" content="{{ file.url }}" />
{% endblock %}


{% block extra_head %}
	<script type="text/javascript" src="{{ STATIC_URL }}javascripts/detail.js"></script>
	<link rel="alternate" type="application/json+oembed" href="{{ file.url }}oembed/" title="{{ file.filename }}" />
{% endblock %}


{% block content %}
	<div class="content">

		{% if file.has_preview %}
			<div class="file-preview" role="file-preview" title="Click for details">
				{% if file.is_image %}
					<div class="file-image">
						<img src="{{ file.file_obj.cdn_url }}-/stretch/off/-/resize/700x/" />
					</div>
				{% elif file.is_textual %}
					{{ file.pygmented|safe }}
				{% endif %}
			</div>
		{% endif %}

		<div class="file-info" role="file-info">
			<p>
				<strong>File:</strong> "{{ file.filename }}"
			</p>
			<p>
				<strong>Uploaded at:</strong> {{ file.date_created|date:"H:i d.m.Y e" }}
			</p>
			<p>
				<strong>Size:</strong> {{ file.size|filesizeformat }}
			</p>
			<p>
				{% if file.has_preview %}
					<button class="btn" role="file-preview-button">
						<span class="icon-arrow-left"></span>
					</button>
				{% endif %}

				<a href="{{ file.file_obj.cdn_url }}{{ file.filename }}" class="btn" download="{{ file.filename }}">
					<span class="icon-file"></span>
					Download file
				</a>
			</p>
		</div>
	</div>
{% endblock %}
