{% extends 'base/base.html' %}



{% block title %}
	{{ file.filename }}
{% endblock %}


{% block og %}
	{{ block.super }}
	<meta property="og:title" content="{{ file.filename }}" />
	<meta property="og:url" content="{{ file.url }}" />
	{% if file.is_image %}
		<meta property="og:image" content="{{ file.file_obj.cdn_url }}-/stretch/off/-/resize/700x/" />
	{% else %}
		<meta property="og:image" content="{{ file.file_obj.cdn_url }}" />
	{% endif %}
{% endblock %}


{% block extra_head %}
	<script type="text/javascript" src="{{ STATIC_URL }}javascripts/detail.js"></script>
{% endblock %}


{% block content %}
	<div id="content" class="content">
		{% if file.is_image %}
			<div class="file-image" role="file-image" itemscope itemtype="http://schema.org/ImageObject">
				<meta itemprop="name" content="{{ file.filename }}" />

				<a href="{{ file.file_obj.cdn_url }}" alt="View original" itemprop="contentURL">
					<img src="{{ file.file_obj.cdn_url }}-/stretch/off/-/resize/700x/" itemprop="url" />
				</a>

				<button class="btn file-info-button" role="file-info-button">
					<span class="icon-info-sign"></span>
				</button>
			</div>
		{% endif %}

		<div class="file-info" role="file-info">
			<p>
				<strong>File:</strong> "{{ file.filename }}"
			</p>
			<p>
				<strong>Uploaded at:</strong> {{ file.date_created|date:"H:i d.m.Y" }}
			</p>
			<p>
				<strong>Size:</strong> {{ file.size|filesizeformat }}
			</p>
			<p>
				{% if file.is_image %}
					<button class="btn file-image-button" role="file-image-button">
						<span class="icon-arrow-left"></span>
					</button>
				{% endif %}

				<a href="{{ file.file_obj.cdn_url }}{{ file.filename }}" class="btn" download="{{ file.filename }}">
					<span class="icon-file"></span>
					Download file
				</a>
			</p>
		</div>
	</div>
{% endblock %}
