body {
	padding-top: 20px;
	padding-bottom: 40px;
}

.wrapper {
	margin: 0 auto;
	max-width: 700px;
}

	.wrapper > hr {
		margin: 30px 0;
	}

	.hidden {
		display: none;
	}

.header a {
	text-decoration: none;
}

.content {
	margin: 60px 0;
	text-align: center;
}

	.progress-bar .progress {
		height: 24px;
		width: 571px;
		display: inline-block;
	}

	.progress-bar .btn {
		height: 24px;
		width: 120px;
		margin-left: 5px;
		vertical-align: top;
		font-size: 16px;
		padding: 0 24px;
		cursor: pointer;
	}

	.upload-success .file-url {
		width: 557px;
		height: 14px;
	}

	.upload-success .btn {
		height: 24px;
		width: 120px;
		margin-left: 5px;
		vertical-align: top;
		font-size: 16px;
		padding: 0 24px;
	}

	.file-info {
		text-align: left;
	}

	.file-image + .file-info {
		display: none;
	}

	.file-image {
		position: relative;
	}

		.file-image img {
			margin: 0 auto;
			max-width: 700px;
			display: block;
		}

		.file-info-button {
			position: absolute;
			top: 0;
			right: 0;
			display: none;
		}

		.file-image:hover .file-info-button {
			display: block;
		}

.annotation {
	margin: 60px 0;
}

	.annotation p + h4 {
		margin-top: 28px;
	}

.footer a.credits {
	text-decoration: none;
	color: #333;
}
