body {
	padding-top: 20px;
	padding-bottom: 40px;
}

.wrapper {
	margin: 0 auto;
	max-width: 700px;
}

	.wrapper > hr {
		margin: 30px 0;
	}

	.hidden {
		display: none;
	}

.header a {
	text-decoration: none;
}

.content {
	margin: 60px 0;
	text-align: center;
}

	.upload-form {
		padding: 12px 0;
	}

	.progress-bar .progress {
		height: 24px;
		width: 571px;
		display: inline-block;
	}

	.progress-bar .btn {
		height: 24px;
		width: 120px;
		margin-left: 5px;
		vertical-align: top;
		font-size: 16px;
		padding: 0 24px;
		cursor: pointer;
	}

	.upload-success .file-url {
		width: 522px;
		height: 14px;
	}

	.upload-success .file-url-link {
		height: 14px;
		padding: 2px 10px 6px 10px;
	}

	.upload-success .input-append {
		display: inline-block;
		vertical-align: top;
	}

	.upload-success .clipboard-btn {
		height: 24px;
		width: 120px;
		margin-left: 5px;
		vertical-align: top;
		font-size: 16px;
		padding: 0 24px;
	}

	.upload-success .clipboard-btn.hover {
		color: #333333;
		background-color: #e6e6e6;
		*background-color: #d9d9d9;
		text-decoration: none;
		background-position: 0 -15px;
		-webkit-transition: background-position 0.1s linear;
		-moz-transition: background-position 0.1s linear;
		-o-transition: background-position 0.1s linear;
		transition: background-position 0.1s linear;
	}

	.upload-success .btn.active {
		background-image: none;
		outline: 0;
		-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
		-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
		box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	}

	.upload-fail {
		padding-top: 4px;
		padding-bottom: 5px;
	}

	.file-preview {
		position: relative;
	}

		.file-preview .file-info-button {
			position: absolute;
			display: none;
			top: 0;
			right: 0;
		}

		.file-preview:hover .file-info-button {
			display: block;
		}

			.file-image img {
				margin: 0 auto;
				max-width: 700px;
				display: block;
			}

		.highlight {
			text-align: left;
		}

	.file-preview + .file-info {
		display: none;
	}

	.file-info {
		text-align: left;
	}

.annotation {
	margin: 60px 0;
}

	.annotation p + h4 {
		margin-top: 28px;
	}

.footer a.credits {
	text-decoration: none;
	color: #333;
}

.footer .mailto:hover .mailto-regular {
	display: none;
}

.footer .mailto:hover .mailto-hover {
	display: inline;
}

.footer .mailto .mailto-hover {
	display: none;
}

.trollface {
	background: url(../images/trollface.gif) 1px 0 no-repeat;
	background-size: 10px 10px;
	display: inline-block;
	width: 11px;
	height: 10px;
}

@media only handheld {
	/* rules for iPad in landscape orientation */

	.file-preview-button, .file-info-button {
		display: none;
	}
}
